/*
 * ----------------------------------
 *    MANEline Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {

  assembly = "GRCh38"
  mane_version = "current"
  bedFile = null
  email = null
  mane_base = "https://ftp.ncbi.nlm.nih.gov/refseq/MANE/MANE_human"
}

process {

  // container = 'library://bruce.moran/default/projects:somatic_n-of-1.centos7.mamba'

}
profiles {

  sonic {
    includeConfig 'conf/sonic.config'
  }

  singularity {
    singularity.enabled = true
  }
}

timeline {
  enabled = true
  file = "pipeline_info/MANEline.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/MANEline.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/MANEline.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/MANEline.dag.svg"
}

manifest {
  name = 'brucemoran/MANEline'
  author = 'Bruce Moran'
  homePage = 'https://github.com/brucemoran/MANEline'
  description = 'Nextflow MANEline pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.0.0'
  version = '0.1'
}
