/*
 * ----------------------------------
 *    MANEline Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {
  help = null
  outDir = null
  assembly = "GRCh38"
  mane_version = "current"
  bedFile = null
  email = null
  mane_base = "https://ftp.ncbi.nlm.nih.gov/refseq/MANE/MANE_human"
}

process{
  withName: Liftover {
    container = 'quay.io/biocontainers/ucsc-liftover:357--h446ed27_4'
  }
}

singularity {
  enabled = true
}

timeline {
  enabled = true
}

report {
  enabled = true
}

trace {
  enabled = true
}

dag {
  enabled = true
}

manifest {
  name = 'brucemoran/MANEline'
  author = 'Bruce Moran'
  homePage = 'https://github.com/brucemoran/MANEline'
  description = 'Nextflow MANEline pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.0.0'
  version = '0.1'
}
